.App {
  text-align: center;
}

.list-margin {
  padding-left: 15%;
  padding-right: 15%;
}

.minus3margin{
  margin-left: -3vw;

}

h1, h2, h3, h4, h5, p {
  padding-left: 3vw;
  padding-right: 3vw;
}


.leaflet-container{
    width:94vw;
    height: 25vh;
    padding-left: 3vw;
    padding-right: 3vw;
  }

select {
    width: 330px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    -webkit-appearance: none;
  }

li {
  text-decoration: none;
  list-style-type: none;
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 3vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
